body{
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar-brand {
  margin: 0;
  padding-top: 0;
    }

.navbar-brand img {
  height: 50px;
  /* put value of image height as your need */
  float: left;
  margin-left: 7px;
    }

.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
  margin-left:30px;
}

.navicon {
    vertical-align: middle!important;
}

.fa-2x {
  vertical-align: middle;
}

.custom-toggler.navbar-toggler { 
    border-color: #0000; 
}

.custom-toggler .navbar-toggler-icon { 
            background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
        } 

@media screen and (max-width: 1024px) {
    .nav-links{
        width: 50%;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navlinkfade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,5px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-5px);
}
  /* The banner section */
  .contact{
    position: relative;
    background-image: url(../img/contact.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    height: calc(100vh - 62px);
    overflow: hidden;
    display: flex;
    align-items: center;
}
.employer{
    position: relative;
    background-image: url(../img/hirenow.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    height: calc(100vh - 62px);
    overflow: hidden;
    display: flex;
    align-items: center;
    }

.about{
    position: relative;
    background-image: url(../img/aboutus.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    height: calc(100vh - 62px);
    overflow: hidden;
    display: flex;
    align-items: center;
    }

.banner{
    position: relative;
    background: url(../img/hired.jpg) fixed;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    height: calc(100vh - 62px);
    overflow: hidden;
    display: flex;
    align-items: center;
    }

.mainhead {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 4px;
    line-height: 1.8em;
    }

.subhead{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.4em;
    display: block;
    }

.abouthead{
    margin: 0;
    padding: 0;
    margin-left: -10px!important;
    color: white;
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.4em;
    display: block;
}

  /* Form */
.testbox {
      display: flex;
      justify-content: center;
      align-items: center;
      height: inherit;
      padding: 20px;
      padding-top: 70px;
      background: #f5f5f5;
      }
.form-ef { 
      padding: 20px;
      width: 1000px;
      border-radius: 6px;
      background: #fff;
      box-shadow: 0 0 5px rgba(0, 0, 0.2); 
      font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
      font-size: 14px;
      display: block; 
      }
p.cent{
    text-align: center!important;
    font-size: 20px;
    font-weight: 700;
}
.item {
      position: relative;
      margin: 10px 0;
      }
.item span {
      color: red;
      }
.item i {
      right: 1%;
      top: 30px;
      z-index: 1;
      }
input, select, textarea {
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      }
input {
      width: calc(100% - 10px);
      padding: 5px;
      }
input[type=radio], input[type=checkbox]  {
      display: none;
      }
label.radio {
      position: relative;
      display: inline-block;
      margin: 5px 20px 15px 0;
      cursor: pointer;
      }
.question span {
      margin-left: 30px;
      }
.question-answer label {
      display: inline-block;
      margin-right: 14px;
      }

.question-answer{
    margin: 15px 0;
}
label.radio:before {
      content: "";
      position: absolute;
      left: 0;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      border: 2px solid #ccc;
      }
input[type=radio]:checked + label:before, label.radio:hover:before {
      border: 2px solid #f22c2c;
      }
label.radio:after {
      content: "";
      position: absolute;
      top: 6px;
      left: 5px;
      width: 8px;
      height: 4px;
      border: 3px solid #f22c2c;
      border-top: none;
      border-right: none;
      transform: rotate(-45deg);
      opacity: 0;
      }
input[type=radio]:checked + label:after {
      opacity: 1;
      }

.btnblock {
      margin-top: 10px;
      text-align: center;
      }
.btn-ef {
      width: 150px;
      padding: 10px;
      border: none;
      border-radius: 5px; 
      background: #f22c2c;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      }
.btn-ef:hover {
      background: #F45656;
      }

/* Home page button*/
.btns{
    text-align: center;
    text-decoration: none;
    width: 27%;
    }

.btn1{
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block!important;
    font-size: 16px;
    width: 40%;
    }

.btn3{
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 15%;
    }


.button1, .button2, .button3, .button4{
    border-radius: 12px;
    display: inline-block;
    }

.button1 {
    margin: 20px;
    margin-left: -3px;
    color: white;
    border-width: 12px!important;
    letter-spacing: 2px;
    font-size: 14px;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 600!important;
    text-transform: uppercase!important;
    background: black;
    }

.button2 {
    border-width: 12px!important;
    letter-spacing: 2px;
    font-size: 14px;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 600!important;
    text-transform: uppercase!important;
    background-color: white;
    }

.button3{
    margin: 20px;
    margin-left: -3px;
    color: white;
    border-width: 12px!important;
    letter-spacing: 2px;
    font-size: 14px;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 600!important;
    text-transform: uppercase!important;
    background-color: black;
    }

.button4{
    margin: 20px;
    margin-left: -3px;
    color: black;
    border-width: 12px!important;
    letter-spacing: 2px;
    font-size: 14px;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 600!important;
    text-transform: uppercase!important;
    background-color: white;
    }

.sections {
    position: relative;
    background-color: #fff;
    background-size: cover;
    background-position: 50%;
    }

.sections.section_1 {
    padding-top: 100px;
    padding-bottom: 120px;
    }

.rows.row_1 {
    padding-top: 0px!important;
    padding-right: 0px!important;
    padding-bottom: 120px!important;
    padding-left: 0px!important;
    }

.rows {
    width: 80%;
    max-width: 1080px;
    margin: auto;
    position: relative;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    }

.rows:after{
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    width: 0;
    }

.text{
    text-align: center;
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    font-size: 32px;
    line-height: 1.6em;
    max-width: 900px;
    margin-left: auto!important;
    margin-right: auto!important;
    }

.column{
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    min-height: 1px;
    float: left;
    }

.text2{
    text-align: center;
    padding: 0!important;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    }

.description{
    padding-bottom: 20px;
    position: relative;
    }

h2.head{
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 700px;
    font-size: 48px;
    line-height: 1.4em!important;
    }

h1, h3, h4, h5, h6 {
    color: #333;
    padding-bottom: 10px;
    line-height: 1em;
    font-weight: 500;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif!important;
    }

.description div{
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif!important;
    font-size: 16px!important;
    line-height: 1.8em!important;
    font-weight: 500px;
    }

.links {
    color: white;
    transition: all .2s;
    display: inline-block;
    white-space: normal;
    word-wrap: break-word;
    }
.links2 {
    color: black;
    transition: all .2s;
    display: inline-block;
    white-space: normal;
    word-wrap: break-word;
    }

@media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:50%;
    line-height: 1;
    border-radius:3px;
  }
  .mainhead {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 600;
    font-size: 9px;
    letter-spacing: 4px;
    line-height: 1.8em;
    }

.subhead{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.4em;
    display: block;
    }
    .navbar-nav > li{
    padding-left:0;
    padding-right:30px;
    margin-left:-230px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
    .mainhead {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 4px;
    line-height: 1.8em;
    }
    .subhead{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    font-size: 20px!important;
    line-height: 1.4em;
    display: block;
    }
}

/*
a:hover {
  color: red;
    } */

@media (min-width: 981px) {.sections {
    padding: 4% 0;}
    }

/* CSS for vacancy.html*/


.pt-120 {
    padding-top: 70px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0.2); 
}

.mb-30 {
    margin-bottom: 35px;
}

.single-job-items{
    padding: 36px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.job-items {
    display: flex;
    flex-wrap: wrap;
}

.company-img img {
    overflow: hidden;
    float: left;
    margin-right: 5px;
    z-index: 999;
    width: 50%;
    height: auto;
}

.img-vac {
  border: 1px solid #333;
  padding: 10px;
  border-radius: 25px;
}

option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

li {
    list-style: none;
    font-size: 14px;
}

.single-job-items .job-tittle ul li i {
    font-size: 14px;
    color: #bbbbbb;
    margin-right: 10px;
}

.single-job-items .job-tittle ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 15px;
    color: #808080;
    line-height: 1.8;
}

.items-link p {
    display: block;
    border: 1px solid #333;
    border-radius: 30px;
    padding: 4px 33px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: -1px;
}

select {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: -internal-light-dark-color(rgb(255, 255, 255), rgb(59, 59, 59));
    cursor: default;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}

/* Login.html*/
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    margin-top: 50px;
}

.text-center {
    text-align: center!important;
}

.mb-4{
    margin-bottom: 1.5rem!important;
    border-radius: 50%;
}

label.check {
      position: relative;
      display: inline-block;
      margin: 5px 20px 10px 60px!important;
      cursor: pointer;
      }

label.check:before {
      content: "";
      position: absolute;
      top: 6px;
      left: 0;
      width: 17px;
      height: 17px;
      border-radius: 2px;
      border: 1px solid #6c757d!important;
      }
input[type=checkbox]:checked + .check:before {
      background: #f22c2c;
      }
label.check:after {
      content: "";
      position: absolute;
      top: 12px;
      left: 4px;
      width: 8px;
      height: 4px;
      border: 3px solid #fff;
      border-top: none;
      border-right: none;
      transform: rotate(-45deg);
      opacity: 0;
      }
input[type=checkbox]:checked + label:after {
      opacity: 1;
      }

.form-control:focus {
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(220, 53, 69, 0.25);
}

.logs{
    margin: 0px;
}

/* flash messages*/
.flashes h4 {
    font-size: 14px;
}

.flasher {
     margin-left: 300px;
}