<html>

    <head>
        {% if title %}
        <title>{{ title }} | AR Recruitment Agency</title>
        {% else %}
        <title>Welcome to AR Recruitment Agency</title>
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type = "logo.png" href="{{ url_for('static', filename='img/logo3.png') }}"/>
        <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800&family=Raleway:wght@300;500;600;700;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/clean-blog.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" />
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg" >
                <a href="{{ url_for('index') }}" class="navbar-brand"><img id="logo" src="static/img/logo3.png" alt="logo"></a>
                  <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse navbar-expand-lg" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a  href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a  href="{{ url_for('about') }}">About</a>
                    </li>
                    <li class="nav-item">
                        <a  href="{{ url_for('employers') }}">Employers</a>
                    </li>
                    <li class="nav-item"> 
                        <a href="{{ url_for('contact') }}">Contact</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i>{{session.username}}</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{ url_for('login') }}">Login <i class="fa fa-sign-in" style="font-size:15px"></i></a>
                                <a class="dropdown-item" href="{{ url_for('logout') }}">Logout <i class="fa fa-sign-out" style="font-size:15px"></i></a>
                            </div>                      
                   </li>
                </ul>
            </div>
        </nav>
        {% block content %} {% endblock %}
        <hr>

        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/" target="_blank">
                                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://twitter.com/home" target="_blank">
                                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://github.com/" target="_blank">
                                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
                

        <!-- Custom scripts for this template -->
        <script src="{{ url_for('static', filename='js/clean-blog.min.js') }}"></script>
    </body>

</html>
