{% extends 'base.html' %} {% block content %}
<section class="employer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="mainhead">TALENT SEEKERS</h4>
                <p class="subhead">Find Top Talent</p>
                <div class="buttons">
                    <a class="btn btn3 button3 links" href="{{ url_for('employer_form') }}" role="button">POST A Job?</a>
                </div>                            
            </div>
        </div>
    </div>
</section>
<div class="section section_1">
    <div class="rows row_1">
        <div class="col">
            <div class="text1">
                <p>We’ve worked with some great companies already. We think you should join them in your quest for top talent.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <span>
                    <img alt="AltText" src="static/img/wire.png" class="img-fluid">
                </span>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <span>
                    <img alt="AltText" src="static/img/realwave.png" class="img-fluid">
                </span>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <span>
                    <img alt="AltText" src="static/img/inner.png" class="img-fluid">
                </span>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <span>
                    <img alt="AltText" src="static/img/gabo.png" class="img-fluid">
                </span>
            </div>
        </div>
    </div>
    <div class="container logo1">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <span>
                    <img alt="AltText" src="static/img/crosswill.png" class="img-fluid">
                </span>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <span>
                    <img alt="AltText" src="static/img/pitch.png" class="img-fluid">
                </span>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <span>
                    <img alt="AltText" src="static/img/jobline.png" class="img-fluid">
                </span>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <span>
                    <img alt="AltText" src="static/img/loudnick.png" class="img-fluid">
                </span>
            </div>
        </div>
    </div>
    <div class="container cont">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="innertext2">
                    <h2 class="joblist2">Why Choose Us?</h2>
                </div>
            </div>
        </div>
        <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12 description1">
                        <h3>Fast Hiring Process</h3>
                        <p class="inlist6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis purus sed risus euismod, ac accumsan.</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 description1">
                        <h3>Low Fees</h3>
                        <p class="inlist6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis purus sed risus euismod, ac accumsan.</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 description1">
                        <h3>Large Talent Pool</h3>
                        <p class="inlist6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis purus sed risus euismod, ac accumsan.</p>
                    </div>
                </div>
        </div>
        <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12 description1">
                        <h3>Local & Remote</h3>
                        <p class="inlist6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis purus sed risus euismod, ac accumsan.</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 description1">
                        <h3>20 Years Experience</h3>
                        <p class="inlist6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis purus sed risus euismod, ac accumsan.</p>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 description1">
                        <h3>Custom Consulting</h3>
                        <p class="inlist6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis purus sed risus euismod, ac accumsan.</p>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}