{% extends 'base.html' %} {% block content %}
<section class="employer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="mainhead">TALENT SEEKERS</h4>
                <p class="subhead">Find Top Talent</p>
                <div class="buttons">
                    <button type="button" class="btn3 button3"><a class="links" href="{{ url_for('employer_form') }}" data-icon="&#x24;">POST A Job?</a></button>
                </div>                            
            </div>
        </div>
    </div>
</section>
 <div class="section section_1">
    <div class="rows row_1">
        <div class="col">
            <div class="text">
                <p>We are absolutely committed to finding and placing candidates into the best possible roles with companies based on their interests.</p>
            </div>
        </div>
    </div>
    <div class="row rows row_2">
        <div class="col-md-6 column">
            <div class="text2">
                <div class="description">
                    <h2 class="head">Job Hunting?</h2>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis purus sed risus euismod, ac accumsan lectus congue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce quis mauris turpis.
                    </div>
                </div>
                <div class="buttons">
                    <button type="button" class="btn1 button1"><a class="links" href="#" data-icon="&#x24;">Open Roles</a></button>
                </div>
            </div>
        </div>
        <div class="col-md-6 column">
            <div class="text2">
                <div class="description">
                    <h2 class="head">Talent Searching?</h2>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis purus sed risus euismod, ac accumsan lectus congue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce quis mauris turpis.
                    </div>
                </div>
                <div class="buttons">
                    <button type="button" class="btn1 button1"><a class="links" href="#" data-icon="&#x24;">Post A Job</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}