{% extends 'base.html' %} {% block content %}
    <section class="listing">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="subhead">Digital Marketer</h4>
                    <p class="mainhead">Ziggo - Athens, Greece</p>
                    <div class="buttons">
                        <button type="button" class="btn3 button3"><a class="links" href="{{ url_for('listing') }}" data-icon="&#x24;">Apply Now</a></button>
                    </div>                            
                </div>
            </div>
        </div>
    </section>
    <section>
            <div id="imggame">
            <img src="/static/img/logo3.png" class="imggame" width="300px" height="400px">
            <div class="innertext">
                <h3 class="joblist">Ziggo</h3>
                <p class="inlist">Remote - Fulltime Position</p>
                <p class="inlist2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis purus sed risus euismod, ac accumsan lectus congue. 
                Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce quis mauris turpis.
                </p>
            </div>
        </div>
    </section>
    <div class="row rows row_2">
        <div class="col-md-12 column">
            <div class="text2">
                <div class="description">
                    <h2 class="head">Job Hunting?</h2>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis purus sed risus euismod, ac accumsan lectus congue. 
                        Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce quis mauris turpis.
                    </div>
                </div>
                <div class="buttons">
                    <button type="button" class="btn1 button1"><a class="links" href="#" data-icon="&#x24;">Open Roles</a></button>
                </div>
            </div>
        </div>
        <div class="col-md-6 column">
            <div class="text2">
                <div class="description">
                    <h2 class="head">Talent Searching?</h2>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis lobortis purus sed risus euismod, ac accumsan lectus congue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce quis mauris turpis.
                    </div>
                </div>
                <div class="buttons">
                    <button type="button" class="btn1 button1"><a class="links" href="#" data-icon="&#x24;">Post A Job</a></button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}