{% extends "base.html" %} {% block content %}

  <body class="text-center">
        <form class="form-signin"action="{{ url_for('login') }}" method="POST">
            <img class="mb-4" src="static/img/ruth.jpg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputEmail" class="sr-only">Username</label>
            <input type="text" id="inputusername" class="form-control" name="username" placeholder="Username" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
            <div class=" question checkbox-item">
                <div class="row">
                    <input type="checkbox" value="none" id="check_1" name="check"/>
                    <label for="check_1" class="check"><span>Remember me</span></label>
                </div>
            </div>
            <button class="btn1 button1" type="submit">Sign in</button>
        </form>
        <br>
        <div class="row">
            <div class="col s12">
                <p class="text-center">
                    Don't have an account? <a href="{{ url_for('register')}} " style="color: lightblue">Sign up here</a>.
                </p>
            </div>
        </div>
    </body>

{% endblock %}
