{% extends "base.html" %} {% block content %}

    <div class="container pt-120">
        <section class="featured-job-area">
            <div class="container">
                <div class="single-job-items mb-30">
                    <div class="job-items">
                    <div class="company-img">
                        <a href="#"><img class= img-vac src="static/img/ziggo.png" alt=""></a>
                    </div>
                    <div class="job-tittle job-tittle2">
                        <a href="#">
                            <h4>Digital Marketer</h4>
                        </a>
                        <ul>
                            <li>Creative Agency</li>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Athens, Greece</li>
                            <li>$3500 - $4000</li>
                        </ul>
                    </div>
                    </div>
                    <div class="items-link items-link2 f-right">
                    <a href="job_details.html">Full Time</a>
                    <span>7 hours ago</span>
                    </div>
                </div>
                <div class="single-job-items mb-30">
                    <div class="job-items">
                    <div class="company-img">
                        <a href="#"><img class= img-vac src="static/img/ziggo.png" alt=""></a>
                    </div>
                    <div class="job-tittle job-tittle2">
                        <a href="#">
                            <h4>Digital Marketer</h4>
                        </a>
                        <ul>
                            <li>Creative Agency</li>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Athens, Greece</li>
                            <li>$3500 - $4000</li>
                        </ul>
                    </div>
                    </div>
                    <div class="items-link items-link2 f-right">
                    <a href="job_details.html">Full Time</a>
                    <span>7 hours ago</span>
                    </div>
                </div>
                <div class="single-job-items mb-30">
                    <div class="job-items">
                    <div class="company-img">
                        <a href="#"><img class= img-vac src="static/img/ziggo.png" alt=""></a>
                    </div>
                    <div class="job-tittle job-tittle2">
                        <a href="#">
                            <h4>Digital Marketer</h4>
                        </a>
                        <ul>
                            <li>Creative Agency</li>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Athens, Greece</li>
                            <li>$3500 - $4000</li>
                        </ul>
                    </div>
                    </div>
                    <div class="items-link items-link2 f-right">
                    <a href="job_details.html">Full Time</a>
                    <span>7 hours ago</span>
                    </div>
                </div>
                <div class="single-job-items mb-30">
                    <div class="job-items">
                    <div class="company-img">
                        <a href="#"><img class= img-vac src="static/img/ziggo.png" alt=""></a>
                    </div>
                    <div class="job-tittle job-tittle2">
                        <a href="#">
                            <h4>Digital Marketer</h4>
                        </a>
                        <ul>
                            <li>Creative Agency</li>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Athens, Greece</li>
                            <li>$3500 - $4000</li>
                        </ul>
                    </div>
                    </div>
                    <div class="items-link items-link2 f-right">
                    <a href="job_details.html">Full Time</a>
                    <span>7 hours ago</span>
                    </div>
                </div>
                <div class="single-job-items mb-30">
                    <div class="job-items">
                    <div class="company-img">
                        <a href="#"><img class= img-vac src="static/img/ziggo.png" alt=""></a>
                    </div>
                    <div class="job-tittle job-tittle2">
                        <a href="#">
                            <h4>Digital Marketer</h4>
                        </a>
                        <ul>
                            <li>Creative Agency</li>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Athens, Greece</li>
                            <li>$3500 - $4000</li>
                        </ul>
                    </div>
                    </div>
                    <div class="items-link items-link2 f-right">
                    <a href="job_details.html">Full Time</a>
                    <span>7 hours ago</span>
                    </div>
                </div>
                <div class="single-job-items mb-30">
                    <div class="job-items">
                    <div class="company-img">
                        <a href="#"><img class= img-vac src="static/img/ziggo.png" alt=""></a>
                    </div>
                    <div class="job-tittle job-tittle2">
                        <a href="#">
                            <h4>Digital Marketer</h4>
                        </a>
                        <ul>
                            <li>Creative Agency</li>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Athens, Greece</li>
                            <li>$3500 - $4000</li>
                        </ul>
                    </div>
                    </div>
                    <div class="items-link items-link2 f-right">
                    <a href="job_details.html">Full Time</a>
                    <span>7 hours ago</span>
                    </div>
                </div>
                <div class="single-job-items mb-30">
                    <div class="job-items">
                    <div class="company-img">
                        <a href="#"><img class= img-vac src="static/img/ziggo.png" alt=""></a>
                    </div>
                    <div class="job-tittle job-tittle2">
                        <a href="#">
                            <h4>Digital Marketer</h4>
                        </a>
                        <ul>
                            <li>Creative Agency</li>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Athens, Greece</li>
                            <li>$3500 - $4000</li>
                        </ul>
                    </div>
                    </div>
                    <div class="items-link items-link2 f-right">
                    <a href="job_details.html">Full Time</a>
                    <span>7 hours ago</span>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}