{% extends "base.html" %} {% block content %}

<div class="testbox">
    <div class="container pt-120">
        <section class="featured-job-area">
            <div class="container">
                <div class="single-job-items mb-30">
                    <div class="job-items">
                    <div class="company-img">
                        <img class="img-vac" src="static/img/ziggo.png" alt="">
                    </div>
                    <div class="job-tittle job-tittle2">
                        <a href="#">
                            <h4>Digital Marketer</h4>
                        </a>
                        <ul>
                            <li>Creative Agency</li>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Athens, Greece</li>
                            <li>$3500 - $4000</li>
                        </ul>
                    </div>
                    </div>
                    <div class="items-link items-link2 f-right">
                        <p>Full Time</p>
                        <span>7 hours ago</span>
                    </div>
                </div>
                <div class="single-job-items mb-30">
                    <div class="job-items">
                    <div class="company-img">
                        <img class= "img-vac" src="static/img/ziggo.png" alt="">
                    </div>
                    <div class="job-tittle job-tittle2">
                        <a href="#">
                            <h4>Digital Marketer</h4>
                        </a>
                        <ul>
                            <li>Creative Agency</li>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Athens, Greece</li>
                            <li>$3500 - $4000</li>
                        </ul>
                    </div>
                    </div>
                    <div class="items-link items-link2 f-right">
                        <p>Full Time</p>
                        <span>7 hours ago</span>
                    </div>
                </div>
                <div class="single-job-items mb-30">
                    <div class="job-items">
                    <div class="company-img">
                        <img class= "img-vac" src="static/img/ziggo.png" alt="">
                    </div>
                    <div class="job-tittle job-tittle2">
                        <a href="#">
                            <h4>Digital Marketer</h4>
                        </a>
                        <ul>
                            <li>Creative Agency</li>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Athens, Greece</li>
                            <li>$3500 - $4000</li>
                        </ul>
                    </div>
                    </div>
                    <div class="items-link items-link2 f-right">
                    <p>Full Time</p>
                    <span>7 hours ago</span>
                    </div>
                </div>
                <div class="single-job-items mb-30">
                    <div class="job-items">
                    <div class="company-img">
                        <img class= "img-vac" src="static/img/ziggo.png" alt="">
                    </div>
                    <div class="job-tittle job-tittle2">
                        <a href="#">
                            <h4>Digital Marketer</h4>
                        </a>
                        <ul>
                            <li>Creative Agency</li>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Athens, Greece</li>
                            <li>$3500 - $4000</li>
                        </ul>
                    </div>
                    </div>
                    <div class="items-link items-link2 f-right">                    
                        <p>Full Time</p>
                        <span>7 hours ago</span>
                    </div>
                </div>
                <div class="single-job-items mb-30">
                    <div class="job-items">
                    <div class="company-img">
                        <img class= "img-vac" src="static/img/ziggo.png" alt="">
                    </div>
                    <div class="job-tittle job-tittle2">
                        <a href="#">
                            <h4>Digital Marketer</h4>
                        </a>
                        <ul>
                            <li>Creative Agency</li>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Athens, Greece</li>
                            <li>$3500 - $4000</li>
                        </ul>
                    </div>
                    </div>
                    <div class="items-link items-link2 f-right">
                        <p>Full Time</p>
                        <span>7 hours ago</span>
                    </div>
                </div>
                <div class="single-job-items mb-30">
                    <div class="job-items">
                    <div class="company-img">
                        <img class= "img-vac" src="static/img/ziggo.png" alt="">
                    </div>
                    <div class="job-tittle job-tittle2">
                        <a href="#">
                            <h4>Digital Marketer</h4>
                        </a>
                        <ul>
                            <li>Creative Agency</li>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Athens, Greece</li>
                            <li>$3500 - $4000</li>
                        </ul>
                    </div>
                    </div>
                    <div class="items-link items-link2 f-right">
                        <p>Full Time</p>
                        <span>7 hours ago</span>
                    </div>
                </div>
                <div class="single-job-items mb-30">
                    <div class="job-items">
                    <div class="company-img">
                        <img class= "img-vac" src="static/img/ziggo.png" alt="">
                    </div>
                    <div class="job-tittle job-tittle2">
                        <a href="#">
                            <h4>Digital Marketer</h4>
                        </a>
                        <ul>
                            <li>Creative Agency</li>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i>Athens, Greece</li>
                            <li>$3500 - $4000</li>
                        </ul>
                    </div>
                    </div>
                    <div class="items-link items-link2 f-right">
                        <p>Full Time</p>
                        <span>7 hours ago</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}