{% extends "base.html" %} {% block content %}

<div class="testbox">
    <div class="container pt-120">
        <section class="featured-job-area">
            <div class="container">
                {% for employer in employ %}
                    <div class="single-job-items mb-30">
                            <div class="job-items">
                            <div class="company-img">
                                <img class="img-vac" src="{{ url_for('static', filename='img/ziggo.png') }}" alt="">
                            </div>
                            <div class="job-tittle">
                                <a href="{{ url_for('listing',employer_id=employer._id) }}">
                                    <h4>{{employer.job}}</h4>
                                </a>
                                <ul>
                                    <li>AR Agency</li>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>{{employer.address}}</li>
                                    <li>{{employer.salary}}</li>
                                </ul>
                            </div>
                            </div>
                            <div class="items-link">
                                <span>{{employer.employment}}</span>
                            </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
</div>

{% endblock %}